.feedback-card {
    display: flex;
    flex-direction: column;
    @include gap(0.5rem, false);
    width: 100%;

    .info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.5rem;

        .info-wrapper__row {
            display: flex;
            align-items: center;
            @include gap(1rem);

            img {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 100%;
            }

            .inner {
                display: flex;
                flex-direction: column;
                align-items: unset;

                .date {
                    font-size: 0.95rem;
                    opacity: 0.8;
                    font-weight: 400;
                }
            }
        }
    }

    .feedback-text {
        font-weight: 500;
    }

    .actionWrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 0.5rem;

        .action {
            display: flex;
            align-items: center;
            color: #27bda0;
            font-size: 0.95rem;
            @include gap(0.5rem);
            cursor: pointer;

            span {
                color: #27bda0;
            }
        }

        > * {
            margin: 0 0.5rem;
        }

        :first-child {
            margin-right: 0;
        }

        :last-child {
            margin-left: 0;
        }
    }
}
