.revenue-box {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
    border-radius: 0.6rem;
    padding: 0 2.5rem;
    min-height: 16rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include gap(1.5rem);
    position: relative;
    &::after {
        content: '';
        height: 50%;
        width: 1px;
        background-color: rgba(186, 186, 218, 0.42);
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
}
