$path-fonts: '../../fonts/';

$color-white: #fff;
$color-text: #2b2f33;
$color-primary: #0070f3;
$color-secondry: #4fcfe8;
$color-primary2: #2b2f33;
$color-background-header: #3f3f79;
$color-primary-dark: #212255;
$color-background-body: #f4f8fb;
$color-grey-light: #f9f9f9;
$color-grey-deactive: #95a5a6;
$color-alert: #dc3545;

$color-cta-primary: #0077db;
$color-cta-primary_hover: #62e9c8;
$color-cta-primary_active: #27a38b;

$color-lavender: #b3a5ef;
$color-lavender-light: #e2def8;
$color-purple-white: #d7d7d7;

$color-border-gray: rgba(#3f3f79, 0.13);
$primary-gradient: linear-gradient(12.5deg, #27bda0 -20%, #3f3f79 67%);

$radius-md: 16px;
$radius-common: 1.75rem;
$radius-full: 9999px;

$spacer-common: 1.6rem;
