.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 35rem;
    width: 35rem;
    padding: 3rem;
    height: 100vh;
    background-color: #ffffff31;
    justify-content: space-between;
    position: sticky;
    top: 0;

    @media screen and (max-width: 992px) {
        height: 13rem;
        min-height: 13rem;
        justify-content: center;
        min-width: 100%;
        width: 100%;
        background-color: #fff;
        padding: 0 2rem;
        border-bottom: 1px solid #e5e9f0;
        position: relative;

        .more-info {
            display: none;
        }
    }

    &.tamin {
        padding: 2.5rem;
        padding-bottom: 1rem;
    }

    .options {
        display: flex;
        margin-top: 1rem;

        > * {
            margin-left: 0.5rem;
            margin-right: 0.4rem;
        }

        > :first-child {
            margin-right: 0;
        }

        > :last-child {
            margin-left: 0;
        }
    }
}

.info {
    display: flex;
    width: 100%;
    align-items: center;
}

.patientInfo__modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13.5px;

    .image {
        margin-bottom: 3rem;
        border-radius: 100%;
        width: 12rem;
        height: 12rem;
    }
    .row {
        margin-bottom: 1.5rem;
        width: 100%;
        .col {
            display: flex;
            grid-gap: 1rem;
            width: 50%;
        }
    }
}

.image {
    width: 9rem;
    min-width: 9rem;
    height: 9rem;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid #e5e9f0;
}

.row {
    display: flex;
    grid-gap: 1rem;

    .title {
        font-weight: 500;
        opacity: 0.6;
        white-space: nowrap;
    }
}
.main {
    margin-right: 1.5rem;
    width: 100%;

    &.tamin {
        margin-right: 0 !important;

        .name {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .row {
            justify-content: space-between;
            white-space: nowrap;
        }
    }

    .col {
        width: 100%;
        display: flex;
        grid-gap: 1rem;
        align-items: center;
    }

    & > * {
        margin-top: 0.2rem;

        > :first-child {
            margin-top: 0rem;
        }

        > :last-child {
            margin-bottom: 0.5rem;
        }
    }
}

.updateCellPhone-wrapper {
    display: flex;
    flex-direction: column;

    > * {
        margin: 0.5rem 0;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.confirmModal-row {
    display: flex;
    > * {
        margin: 0 0.5rem;
    }
    > :first-child {
        margin-right: 0;
    }
    > :last-child {
        margin-left: 0;
    }
}

.showMore {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
    border: 0;
    background: transparent;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 100px;
    font-size: 1.4rem;
    text-decoration: underline;
    color: #119e87;
    font-weight: 500;

    @media screen and (min-width: 992px) {
        display: none;
    }
}
