* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
    --timeit-primary-color: #2b2f33 !important;
}

#root {
    width: 100%;
}

*,
body {
    font-family: iransans;
    direction: rtl;
}

::selection {
    background: #c7d3ddc4;
}

body {
    // font-size: 1.6rem;
    background-color: #f4f8fb;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

span,
label {
    color: $color-text;
}

a {
    text-decoration: none;
    outline: 0;
}

::placeholder {
    color: #bac1c7 !important;
    font-weight: 400 !important;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
    transform-origin: 50% 50% 0;
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
    transform-origin: 50% 50% 0;
    overflow: hidden !important;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 50% 0;
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: 50% 50% 0;
    transition: opacity 300ms, transform 300ms;
    overflow: hidden !important;
}

.skeleton-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .skeleton-col {
        > * {
            margin: 0.7rem 0;
        }

        > :first-child {
            margin-top: 0rem;
        }

        > :last-child {
            margin-bottom: 0rem;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .skeleton-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        [class*='skeleton'] {
            margin-right: 0rem;
            // margin-left: 1rem;

            &:first-child {
                margin-right: 0 !important;
            }

            &:last-child {
                margin-left: 0 !important;
            }
        }
    }
}

.skeleton-square {
    background: rgba(76, 96, 125, 0.2);
    border-radius: 0.6rem;
    animation: skeleton 0.8s ease- -out infinite both;
}

.skeleton {
    height: 0.8rem;
    background: rgba(76, 96, 125, 0.2);
    border-radius: 100rem;
    animation: skeleton 0.8s ease-in-out infinite both;
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.Toastify__toast--warning {
    background-color: rgb(255, 153, 0) !important;
}

.Toastify__toast--default {
    background: #ffffff;
    font-weight: 500;
    color: #525252 !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.row {
    display: flex;
    align-items: center;
}

input,
textarea {
    user-select: text !important;
    -webkit-user-select: text !important;
}

[class^='reactour'] {
    * {
        transition: all 0.5s;
    }
}

.reactour__popover {
    border-radius: 1rem;
    direction: ltr;
    color: #3f3f79 !important;
    font-weight: 500;
    padding: 2rem !important;
    direction: rtl;
    text-align: right;

    > div {
        direction: ltr;
        // display: none;
    }

    [aria-label^='Go to next step'] {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        &::after {
            content: attr(data-text);
            margin-left: 1rem;
            font-weight: 500;
        }
    }

    div > div {
        display: none !important;
    }
}

.reactour__mask {
    color: #1a2d38 !important;
    opacity: 0.4 !important;
}

[id*='tour__mask'] {
    rect {
        rx: 10 !important;
    }
}

.plyr {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    direction: ltr;

    * {
        direction: ltr;
    }
}

@media screen and (max-width: 425px) {
    .__react_component_tooltip {
        display: none !important;
    }
}
