.wrapper {
    display: flex;
    flex-direction: column;
    @include gap(1.5rem, false);
    color: $color-text;
    max-width: 768px;
    margin: auto;
    margin-top: 1rem;
    padding: 0 15px;

    .inner {
        background: #fff;
        box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
        border-radius: 0.6rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        color: $color-text;
        @include gap(1rem, false);

        .complaint-card {
            background: #f3f7fa;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            position: relative;
            @include gap(1rem, false);

            .description {
                font-weight: 500;
            }

            .date-time-wrap {
                display: flex;
                align-items: center;
                align-self: flex-end;

                span {
                    line-height: normal;
                    margin: 0 0.25rem;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .badge-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .badge {
            box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
            background-color: #fff;
            padding: 0.5rem;
            border-radius: 0.4rem;
            align-items: center;
            width: max-content;
            font-size: 0.8rem;
            font-weight: 500;
            display: flex;

            .red {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #ff5252;
                font-size: 0.8rem;
                font-weight: 400;
                color: #fff;
                line-height: 1;
                border-radius: 0.4rem;
                padding: 0 0.5rem;
                min-width: 1.5rem;
                min-height: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}
