.wrapper {
    .form {
        display: flex;
        flex-direction: column;
        @include gap(1rem, false);
    }
    .register-form {
        background: #fff;
        box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
        border-radius: 0.6rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        @include gap(1rem, false);
        font-weight: bold;
        color: $color-text;
        .form-control {
            display: flex;
            flex-direction: column;
            @include gap(1rem, false);
            margin-bottom: 0.5rem;
        }

        .title {
            font-weight: 800;
        }
        .sub-title {
            font-weight: 500;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    width: 100%;

    > * {
        margin: 0 0.5rem;
    }

    > :first-child {
        margin-right: 0;
    }

    > :last-child {
        margin-left: 0;
    }
}
