// .wrapper {
.form {
    display: flex;
    flex-direction: column;
    @include gap(1rem, false);
}
.register-form {
    display: flex;
    flex-direction: column;
    @include gap(1rem, false);
    font-weight: bold;
    color: $color-text;
    .form-control {
        display: flex;
        flex-direction: column;
        @include gap(1rem, false);
        margin-bottom: 0.5rem;
    }

    .title {
        font-weight: 800;
    }
    .sub-title {
        font-weight: 500;
    }
}
// }

.row {
    display: flex;
    align-items: center;
    width: 100%;

    > * {
        margin: 0 0.5rem;
    }

    > :first-child {
        margin-right: 0;
    }

    > :last-child {
        margin-left: 0;
    }
}
