.wrapper {
    display: flex;
    flex-direction: column;
    @include gap(1.5rem, false);
    color: $color-text;
    margin: auto;
    margin-top: 5rem;
    padding: 0 15px;
    max-width: 678px;

    .inner {
        background: #fff;
        box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
        border-radius: 0.6rem;
        padding: 1rem;
    }

    .get-more-feedback {
        p {
            margin-bottom: 1rem;
        }

        .description {
            margin-top: 0.5rem;

            font-weight: 600;
            font-size: 1.4rem;
            text-align: justify;
        }

        ul {
            padding-right: 1.5rem;
            text-align: justify;

            li {
                font-weight: 500;
                margin-bottom: 1.5rem;

                span {
                    font-weight: 400;
                    display: block;
                }
            }
        }
    }

    .head-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: baseline;
            @include gap(1rem, false);
        }

        .badge-wrap {
            display: flex;
            @include gap;

            .badge {
                box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
                background-color: #fff;
                padding: 1rem;
                border-radius: 0.6rem;
                align-items: center;
                color: #3f4079c7;
                width: max-content;
                font-size: 1.6rem;
                font-weight: 500;
                display: flex;
                // z-index: 99;

                .red {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: #ff5252;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1;
                    border-radius: 0.5rem;
                    padding: 0 0.5rem;
                    min-width: 2rem;
                    min-height: 2.25rem;
                    margin-right: 1rem;
                }
            }
        }

        .goto {
            text-decoration: underline;
            color: $color-text;
        }
    }
}
