.wrapper {
    display: flex;
    flex-direction: column;
    @include gap(1rem, false);
    max-width: 678px;
    margin: 0 auto;
    padding-bottom: 25rem;

    .header {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        @include gap(1rem);
        padding: 1rem 0rem;
        background-color: #fff;
        border-radius: 0 0 1rem 1rem;
        user-select: none;
        overflow: hidden;

        .show-profile {
            position: absolute;
            top: 0.7rem;
            left: 0.7rem;
            cursor: pointer;
            border: 1px solid rgba(153, 149, 149, 0.253);
            padding: 0rem 0.3rem;
            border-radius: 100px;
            display: flex;
            align-items: center;

            span {
                color: $color-text;
                font-size: 0.7rem;
            }

            svg {
                * {
                    stroke: $color-text;
                }
            }

            .show-profile-icon {
                width: 0.9rem;
                margin-left: 0.1rem;
            }
        }

        .more-dropdown {
            position: absolute;
            top: 3rem;
            left: 2rem;
            cursor: pointer;
            .content {
                background-color: #fff;
                padding: 1rem 1rem;
                position: absolute;
                border-radius: 1rem;
                left: 0;
                width: 15rem;
                .item {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    @include gap(0.5rem);
                    font-weight: 500;
                    font-size: 1.4rem;
                    color: $color-text;
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            @media screen and (min-width: 992px) {
                display: none;
            }
        }
        .image-wrapper {
            position: relative;
            height: 6rem;
            min-width: 6rem;
            border-radius: 100%;

            > * {
                border-radius: 100%;
            }

            .doctor-avatar {
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                position: relative;
                background-color: #ffffff0a;
                min-height: 6rem;
                min-width: 6rem;
            }
            .select-profile-image {
                position: relative;
                input[type='file'] {
                    position: absolute;
                    visibility: hidden;
                }
                svg {
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    z-index: 1;
                    background: #fff;
                    border-radius: 100%;
                    padding: 0.35rem;
                }
            }
        }
        .doctor-info {
            display: flex;
            flex-direction: column;
            @include gap(0.8rem, false);
            width: 100%;
            .doctor-name {
                font-weight: 600;
                font-size: 1rem;
                color: $color-text;
            }

            .expertise-wrapper {
                display: flex;
                padding-left: 15rem;

                > * {
                    margin: 0 0.2rem;
                }
                :first-child {
                    margin-right: 0;
                }
                :last-child {
                    margin-left: 0;
                }

                .doctor-expertise {
                    border: 1px solid rgba(153, 149, 149, 0.253);
                    border-radius: 6rem;
                    font-size: 0.8rem;
                    color: $color-text;
                    padding: 0.2rem 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    min-width: fit-content;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            .doctor-rate {
                display: flex;
                align-items: center;
                @include gap(0.5rem);
                font-weight: 500;
                color: $color-text;
                cursor: pointer;
                svg {
                    width: 1rem;
                    height: 1rem;
                    * {
                        fill: $color-text;
                    }
                }
                span {
                    color: $color-text;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        @include gap(1rem, false);

        .col {
            display: flex;
            flex-direction: column;
        }
    }
}

.row {
    display: flex;
    > * {
        margin: 0 0.5rem;
    }
    > :first-child {
        margin-right: 0;
        // width: 20rem;
    }
    > :last-child {
        margin-left: 0;
    }
}

.bank_row {
    display: flex;
    align-items: center;
    width: 100%;

    > * {
        margin: 0 0.5rem;
    }

    > :first-child {
        margin-right: 0;
    }

    > :last-child {
        margin-left: 0;
    }
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    input[type='checkbox'] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 4.5rem;
        height: 2.5rem;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 1.5rem;
        height: 1.5rem;
        background: #fff;
        border-radius: 100%;
        transition: 0.3s;
    }

    input:checked + label {
        background: #119e87;
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 1.8rem;
    }
}
