#visitCost {
    display: flex;
    flex-direction: column;
    @include gap(2rem, false);
    background: #fff;
    box-shadow: 0 21px 30px rgba(37, 37, 71, 0.04);
    border-radius: 1rem;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: $color-text;
}
