@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-eKnRjXu5Wl6q: 0.5rem;
  --plasmic-token-2: var(--token-eKnRjXu5Wl6q);
  --token-x0Zufqf8WCgT: 0.75rem;
  --plasmic-token-3: var(--token-x0Zufqf8WCgT);
  --token-5dNkhr-ReXw6: 0.25rem;
  --plasmic-token-1: var(--token-5dNkhr-ReXw6);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-TLez6a8xkRzN_font-family: "Inter", sans-serif;
  --mixin-TLez6a8xkRzN_font-size: 16px;
  --mixin-TLez6a8xkRzN_font-weight: 400;
  --mixin-TLez6a8xkRzN_font-style: normal;
  --mixin-TLez6a8xkRzN_color: #535353;
  --mixin-TLez6a8xkRzN_text-align: left;
  --mixin-TLez6a8xkRzN_text-transform: none;
  --mixin-TLez6a8xkRzN_line-height: 1.5;
  --mixin-TLez6a8xkRzN_letter-spacing: normal;
  --mixin-TLez6a8xkRzN_white-space: pre-wrap;
  --mixin-TLez6a8xkRzN_user-select: text;
  --mixin-TLez6a8xkRzN_text-decoration-line: none;
  --mixin-TLez6a8xkRzN_text-overflow: clip;
  --mixin-G-gWlmthWSQb_color: #000000;
  --mixin-G-gWlmthWSQb_font-weight: 700;
  --mixin-G-gWlmthWSQb_font-size: 64px;
  --mixin-G-gWlmthWSQb_line-height: 1;
  --mixin-G-gWlmthWSQb_letter-spacing: -1px;
  --mixin-G-gWlmthWSQb_white-space: pre-wrap;
  --mixin-JCzFB_CYTf_r_color: #000000;
  --mixin-JCzFB_CYTf_r_font-size: 48px;
  --mixin-JCzFB_CYTf_r_font-weight: 700;
  --mixin-JCzFB_CYTf_r_letter-spacing: -0.5px;
  --mixin-JCzFB_CYTf_r_line-height: 1.1;
  --mixin-JCzFB_CYTf_r_white-space: pre-wrap;
  --mixin-BAsnknN2jpyy_color: #0070f3;
  --mixin-BAsnknN2jpyy_white-space: pre-wrap;
  --mixin-9mrkHSZoLEt7_color: #000000;
  --mixin-9mrkHSZoLEt7_font-size: 32px;
  --mixin-9mrkHSZoLEt7_font-weight: 600;
  --mixin-9mrkHSZoLEt7_line-height: 1.2;
  --mixin-9mrkHSZoLEt7_white-space: pre-wrap;
  --mixin-ShzciG5WUSUh_color: #000000;
  --mixin-ShzciG5WUSUh_font-size: 24px;
  --mixin-ShzciG5WUSUh_font-weight: 600;
  --mixin-ShzciG5WUSUh_line-height: 1.3;
  --mixin-ShzciG5WUSUh_white-space: pre-wrap;
  --mixin-PPIa08LQ7aiV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PPIa08LQ7aiV_border-bottom-color: #dddddd;
  --mixin-PPIa08LQ7aiV_border-bottom-style: solid;
  --mixin-PPIa08LQ7aiV_border-bottom-width: 1px;
  --mixin-PPIa08LQ7aiV_border-left-color: #dddddd;
  --mixin-PPIa08LQ7aiV_border-left-style: solid;
  --mixin-PPIa08LQ7aiV_border-left-width: 1px;
  --mixin-PPIa08LQ7aiV_border-right-color: #dddddd;
  --mixin-PPIa08LQ7aiV_border-right-style: solid;
  --mixin-PPIa08LQ7aiV_border-right-width: 1px;
  --mixin-PPIa08LQ7aiV_border-top-color: #dddddd;
  --mixin-PPIa08LQ7aiV_border-top-style: solid;
  --mixin-PPIa08LQ7aiV_border-top-width: 1px;
  --mixin-PPIa08LQ7aiV_border-bottom-left-radius: 3px;
  --mixin-PPIa08LQ7aiV_border-bottom-right-radius: 3px;
  --mixin-PPIa08LQ7aiV_border-top-left-radius: 3px;
  --mixin-PPIa08LQ7aiV_border-top-right-radius: 3px;
  --mixin-PPIa08LQ7aiV_font-family: "Inconsolata";
  --mixin-PPIa08LQ7aiV_padding-bottom: 1px;
  --mixin-PPIa08LQ7aiV_padding-left: 4px;
  --mixin-PPIa08LQ7aiV_padding-right: 4px;
  --mixin-PPIa08LQ7aiV_padding-top: 1px;
  --mixin-PPIa08LQ7aiV_white-space: pre-wrap;
  --mixin-Zhvn3g6O99ug_border-left-color: #dddddd;
  --mixin-Zhvn3g6O99ug_border-left-style: solid;
  --mixin-Zhvn3g6O99ug_border-left-width: 3px;
  --mixin-Zhvn3g6O99ug_color: #888888;
  --mixin-Zhvn3g6O99ug_padding-left: 10px;
  --mixin-Zhvn3g6O99ug_white-space: pre-wrap;
  --mixin-ynhnLSclwUV-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ynhnLSclwUV-_border-bottom-color: #dddddd;
  --mixin-ynhnLSclwUV-_border-bottom-style: solid;
  --mixin-ynhnLSclwUV-_border-bottom-width: 1px;
  --mixin-ynhnLSclwUV-_border-left-color: #dddddd;
  --mixin-ynhnLSclwUV-_border-left-style: solid;
  --mixin-ynhnLSclwUV-_border-left-width: 1px;
  --mixin-ynhnLSclwUV-_border-right-color: #dddddd;
  --mixin-ynhnLSclwUV-_border-right-style: solid;
  --mixin-ynhnLSclwUV-_border-right-width: 1px;
  --mixin-ynhnLSclwUV-_border-top-color: #dddddd;
  --mixin-ynhnLSclwUV-_border-top-style: solid;
  --mixin-ynhnLSclwUV-_border-top-width: 1px;
  --mixin-ynhnLSclwUV-_border-bottom-left-radius: 3px;
  --mixin-ynhnLSclwUV-_border-bottom-right-radius: 3px;
  --mixin-ynhnLSclwUV-_border-top-left-radius: 3px;
  --mixin-ynhnLSclwUV-_border-top-right-radius: 3px;
  --mixin-ynhnLSclwUV-_font-family: "Inconsolata";
  --mixin-ynhnLSclwUV-_padding-bottom: 3px;
  --mixin-ynhnLSclwUV-_padding-left: 6px;
  --mixin-ynhnLSclwUV-_padding-right: 6px;
  --mixin-ynhnLSclwUV-_padding-top: 3px;
  --mixin-ynhnLSclwUV-_white-space: pre-wrap;
  --mixin-X0SlRbhxRYqb_display: flex;
  --mixin-X0SlRbhxRYqb_flex-direction: column;
  --mixin-X0SlRbhxRYqb_align-items: stretch;
  --mixin-X0SlRbhxRYqb_justify-content: flex-start;
  --mixin-X0SlRbhxRYqb_list-style-position: outside;
  --mixin-X0SlRbhxRYqb_padding-left: 40px;
  --mixin-X0SlRbhxRYqb_position: relative;
  --mixin-X0SlRbhxRYqb_list-style-type: disc;
  --mixin-X0SlRbhxRYqb_white-space: pre-wrap;
  --mixin-69Y13BzvoKDC_display: flex;
  --mixin-69Y13BzvoKDC_flex-direction: column;
  --mixin-69Y13BzvoKDC_align-items: stretch;
  --mixin-69Y13BzvoKDC_justify-content: flex-start;
  --mixin-69Y13BzvoKDC_list-style-position: outside;
  --mixin-69Y13BzvoKDC_padding-left: 40px;
  --mixin-69Y13BzvoKDC_position: relative;
  --mixin-69Y13BzvoKDC_list-style-type: decimal;
  --mixin-69Y13BzvoKDC_white-space: pre-wrap;
  --mixin-8_p-59FPvdJv_color: #000000;
  --mixin-8_p-59FPvdJv_font-size: 20px;
  --mixin-8_p-59FPvdJv_font-weight: 600;
  --mixin-8_p-59FPvdJv_line-height: 1.5;
  --mixin-8_p-59FPvdJv_white-space: pre-wrap;
  --mixin-iW0IbMT9Qw9W_color: #000000;
  --mixin-iW0IbMT9Qw9W_font-size: 16px;
  --mixin-iW0IbMT9Qw9W_font-weight: 600;
  --mixin-iW0IbMT9Qw9W_line-height: 1.5;
  --mixin-iW0IbMT9Qw9W_white-space: pre-wrap;
  --mixin-S_jbJ8vtCpsM_color: #3291ff;
  --mixin-S_jbJ8vtCpsM_white-space: pre-wrap;
  --mixin-zTn6hBmyebpL_white-space: pre-wrap;
  --mixin-l7daH8c76ZCu_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-TLez6a8xkRzN_font-family);
  font-size: var(--mixin-TLez6a8xkRzN_font-size);
  font-weight: var(--mixin-TLez6a8xkRzN_font-weight);
  font-style: var(--mixin-TLez6a8xkRzN_font-style);
  color: var(--mixin-TLez6a8xkRzN_color);
  text-align: var(--mixin-TLez6a8xkRzN_text-align);
  text-transform: var(--mixin-TLez6a8xkRzN_text-transform);
  line-height: var(--mixin-TLez6a8xkRzN_line-height);
  letter-spacing: var(--mixin-TLez6a8xkRzN_letter-spacing);
  white-space: var(--mixin-TLez6a8xkRzN_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-G-gWlmthWSQb_color);
  font-weight: var(--mixin-G-gWlmthWSQb_font-weight);
  font-size: var(--mixin-G-gWlmthWSQb_font-size);
  line-height: var(--mixin-G-gWlmthWSQb_line-height);
  letter-spacing: var(--mixin-G-gWlmthWSQb_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-JCzFB_CYTf_r_color);
  font-size: var(--mixin-JCzFB_CYTf_r_font-size);
  font-weight: var(--mixin-JCzFB_CYTf_r_font-weight);
  letter-spacing: var(--mixin-JCzFB_CYTf_r_letter-spacing);
  line-height: var(--mixin-JCzFB_CYTf_r_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-BAsnknN2jpyy_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9mrkHSZoLEt7_color);
  font-size: var(--mixin-9mrkHSZoLEt7_font-size);
  font-weight: var(--mixin-9mrkHSZoLEt7_font-weight);
  line-height: var(--mixin-9mrkHSZoLEt7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ShzciG5WUSUh_color);
  font-size: var(--mixin-ShzciG5WUSUh_font-size);
  font-weight: var(--mixin-ShzciG5WUSUh_font-weight);
  line-height: var(--mixin-ShzciG5WUSUh_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PPIa08LQ7aiV_font-family);
  border-radius: var(--mixin-PPIa08LQ7aiV_border-top-left-radius)
    var(--mixin-PPIa08LQ7aiV_border-top-right-radius)
    var(--mixin-PPIa08LQ7aiV_border-bottom-right-radius)
    var(--mixin-PPIa08LQ7aiV_border-bottom-left-radius);
  padding: var(--mixin-PPIa08LQ7aiV_padding-top)
    var(--mixin-PPIa08LQ7aiV_padding-right)
    var(--mixin-PPIa08LQ7aiV_padding-bottom)
    var(--mixin-PPIa08LQ7aiV_padding-left);
  border-top: var(--mixin-PPIa08LQ7aiV_border-top-width)
    var(--mixin-PPIa08LQ7aiV_border-top-style)
    var(--mixin-PPIa08LQ7aiV_border-top-color);
  border-right: var(--mixin-PPIa08LQ7aiV_border-right-width)
    var(--mixin-PPIa08LQ7aiV_border-right-style)
    var(--mixin-PPIa08LQ7aiV_border-right-color);
  border-bottom: var(--mixin-PPIa08LQ7aiV_border-bottom-width)
    var(--mixin-PPIa08LQ7aiV_border-bottom-style)
    var(--mixin-PPIa08LQ7aiV_border-bottom-color);
  border-left: var(--mixin-PPIa08LQ7aiV_border-left-width)
    var(--mixin-PPIa08LQ7aiV_border-left-style)
    var(--mixin-PPIa08LQ7aiV_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Zhvn3g6O99ug_color);
  padding-left: var(--mixin-Zhvn3g6O99ug_padding-left);
  border-left: var(--mixin-Zhvn3g6O99ug_border-left-width)
    var(--mixin-Zhvn3g6O99ug_border-left-style)
    var(--mixin-Zhvn3g6O99ug_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ynhnLSclwUV-_font-family);
  border-radius: var(--mixin-ynhnLSclwUV-_border-top-left-radius)
    var(--mixin-ynhnLSclwUV-_border-top-right-radius)
    var(--mixin-ynhnLSclwUV-_border-bottom-right-radius)
    var(--mixin-ynhnLSclwUV-_border-bottom-left-radius);
  padding: var(--mixin-ynhnLSclwUV-_padding-top)
    var(--mixin-ynhnLSclwUV-_padding-right)
    var(--mixin-ynhnLSclwUV-_padding-bottom)
    var(--mixin-ynhnLSclwUV-_padding-left);
  border-top: var(--mixin-ynhnLSclwUV-_border-top-width)
    var(--mixin-ynhnLSclwUV-_border-top-style)
    var(--mixin-ynhnLSclwUV-_border-top-color);
  border-right: var(--mixin-ynhnLSclwUV-_border-right-width)
    var(--mixin-ynhnLSclwUV-_border-right-style)
    var(--mixin-ynhnLSclwUV-_border-right-color);
  border-bottom: var(--mixin-ynhnLSclwUV-_border-bottom-width)
    var(--mixin-ynhnLSclwUV-_border-bottom-style)
    var(--mixin-ynhnLSclwUV-_border-bottom-color);
  border-left: var(--mixin-ynhnLSclwUV-_border-left-width)
    var(--mixin-ynhnLSclwUV-_border-left-style)
    var(--mixin-ynhnLSclwUV-_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-X0SlRbhxRYqb_display);
  flex-direction: var(--mixin-X0SlRbhxRYqb_flex-direction);
  align-items: var(--mixin-X0SlRbhxRYqb_align-items);
  justify-content: var(--mixin-X0SlRbhxRYqb_justify-content);
  list-style-position: var(--mixin-X0SlRbhxRYqb_list-style-position);
  padding-left: var(--mixin-X0SlRbhxRYqb_padding-left);
  position: var(--mixin-X0SlRbhxRYqb_position);
  list-style-type: var(--mixin-X0SlRbhxRYqb_list-style-type);
  flex-column-gap: var(--mixin-X0SlRbhxRYqb_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-69Y13BzvoKDC_display);
  flex-direction: var(--mixin-69Y13BzvoKDC_flex-direction);
  align-items: var(--mixin-69Y13BzvoKDC_align-items);
  justify-content: var(--mixin-69Y13BzvoKDC_justify-content);
  list-style-position: var(--mixin-69Y13BzvoKDC_list-style-position);
  padding-left: var(--mixin-69Y13BzvoKDC_padding-left);
  position: var(--mixin-69Y13BzvoKDC_position);
  list-style-type: var(--mixin-69Y13BzvoKDC_list-style-type);
  flex-column-gap: var(--mixin-69Y13BzvoKDC_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-8_p-59FPvdJv_color);
  font-size: var(--mixin-8_p-59FPvdJv_font-size);
  font-weight: var(--mixin-8_p-59FPvdJv_font-weight);
  line-height: var(--mixin-8_p-59FPvdJv_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-iW0IbMT9Qw9W_color);
  font-size: var(--mixin-iW0IbMT9Qw9W_font-size);
  font-weight: var(--mixin-iW0IbMT9Qw9W_font-weight);
  line-height: var(--mixin-iW0IbMT9Qw9W_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-S_jbJ8vtCpsM_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
