.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  padding: var(--token-Fv8-L_kN-2Ma);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__bvpUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: right;
  font-size: var(--token-6NbVMeD6zQwn);
  font-weight: 500;
  min-width: 0;
}
.nationalCode:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__zJui8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nZkvc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.booktime:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button__rk582:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ixB1O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___555Zh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__be5Rk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.verticalStackData {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.verticalStackData > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.verticalStackData > :global(.__wab_flex-container) > *,
.verticalStackData > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.verticalStackData > :global(.__wab_flex-container) > picture > img,
.verticalStackData
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.text__hOvT4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-tM2Vh4zTir7U);
  font-weight: 500;
  min-width: 0;
}
.inputcell:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zJVlC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iMoTx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.inputfullname:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vG3G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tmkm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.verticalStackFunction {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.verticalStackFunction > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-_c276Gs_1FIE));
  height: calc(100% + var(--token-_c276Gs_1FIE));
}
.verticalStackFunction > :global(.__wab_flex-container) > *,
.verticalStackFunction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.verticalStackFunction > :global(.__wab_flex-container) > picture > img,
.verticalStackFunction
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_c276Gs_1FIE);
}
.httpRestApiFetcher___81441:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-Y3HOiwZmAcAF);
  min-width: 0;
}
.freeturnBook:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fpCl4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__eeOuy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.preferBooktime2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sngWi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fgTyY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.preferBooktime:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.button__n0AEe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
.text___9LDmR {
  position: relative;
  height: auto;
  max-width: 100%;
}
.svg__hb8M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lvBcR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__wlf3E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__eEYf0 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__eEYf0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fhaz6q6bl-fW));
  width: calc(100% + var(--token-fhaz6q6bl-fW));
}
.freeBox__eEYf0 > :global(.__wab_flex-container) > *,
.freeBox__eEYf0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eEYf0 > :global(.__wab_flex-container) > picture > img,
.freeBox__eEYf0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fhaz6q6bl-fW);
}
.text__wtRlm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
}
.تقوم:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___4WjYk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__diqK6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.datePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__dfmFm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 1px;
}
.httpRestApiFetcher___0Hi2F:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__ldCoo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border: 1px solid var(--token-BU1JCAY6hntB);
}
.freeBox__ldCoo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__ldCoo > :global(.__wab_flex-container) > *,
.freeBox__ldCoo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ldCoo > :global(.__wab_flex-container) > picture > img,
.freeBox__ldCoo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.freeBox___1G1He {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #27bda00d;
  border-radius: 1px;
  padding: 8px;
  border: 1px solid #27bda03d;
}
.text__xs03N {
  width: auto;
  height: auto;
  max-width: 100%;
}
