.services-wrapper {
    display: flex;
    @include gap(2rem);
    @media screen and (max-width: 992px) {
        flex-direction: column;
    }

    .inner {
        display: flex;
        flex-direction: column;
        @include gap(2rem, false);
        width: 100%;
        a {
            text-decoration: none;
        }
    }
}
