.replies {
    background-color: #dee8ef;
    padding: 1rem;
    border-radius: 0.4rem;

    .feedback-text {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .actionWrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .action {
            display: flex;
            align-items: center;
            cursor: pointer;

            > * {
                margin: 0 0.3rem;
                color: #27bda0;
            }

            :first-child {
                margin-right: 0;
            }

            :last-child {
                margin-left: 0;
            }
        }

        > * {
            margin: 0 0.5rem;
        }

        :first-child {
            margin-right: 0;
        }

        :last-child {
            margin-left: 0;
        }
    }
}
