.menu-item {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fff;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    @include gap(1rem);
    padding-right: 6.5rem;
    &:focus {
        text-decoration: none;
    }
    &.active {
        background-color: #60609281;
        &:first-child {
            padding: 1.5rem 2.5rem;
        }
    }
}
