.feedback-wrapper {
    display: flex;
    flex-direction: column;
    @include gap(1rem, false);
    background: #f3f7fa;
    border-radius: 0.4rem;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        @include gap(1rem, false);
        border-radius: 1rem;
        position: relative;
        align-items: center;
        width: 100%;

        > * {
            border-bottom: 1px solid rgba(63, 63, 121, 0.096);
            padding-bottom: 1rem;
        }

        > *:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}
