.wrapper {
    display: flex;
    @include gap(1.5rem);
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;

    @media screen and(max-width:908px) {
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        background-color: #fff;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .brand {
        position: absolute;
        bottom: 4rem;
        background: #e0e8ef;
        padding: 0.5rem 2rem;
        border-radius: 100px;
        font-weight: 500;
        color: #586a79;
        font-size: 1.4rem;
        transition: opacity 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}
