.wrapper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    @include gap(1rem, false);

    @media screen and (max-width: 768px) {
        padding: 0rem;
        @include gap(1rem, false);
        margin-bottom: 8rem;
    }

    .templatesWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 0px 4px 135px rgba(63, 63, 121, 0.07);
        border-radius: 0.6rem;

        @media screen and (max-width: 768px) {
            background-color: transparent;
            padding: 0rem !important;
            box-shadow: unset;
            margin-top: 0;
        }

        & > div {
            border-bottom: 1px solid rgba(63, 63, 121, 0.123);
        }

        & > :last-child {
            border: 0;
        }
    }
}

.infoBar {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        background: #fff;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
}

.prescriptionNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 135px rgba(63, 63, 121, 0.07);
    border-radius: 0.6rem;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 2rem;
    }
}

.providerWrapper {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    @include gap(1rem);
}

.providerButton {
    padding: 0 1.5rem;
    background: #1659df13;
    border-radius: 100rem;
    font-size: 0.95rem;
    height: 2rem;
    color: #1659df;
    font-weight: 500;
    border: 1px solid #1659df83;
    opacity: 0.5;
    min-width: fit-content;
    transition: all 0.5s;
    outline: 0;

    &.selected {
        opacity: 1;
        border-color: #1659df;
    }
}
