.nagivate {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    margin-bottom: 0.5rem;
    align-items: center;
    padding: 0.8rem;
    @include gap(1rem);

    hr {
        height: 2rem;
        background: rgba(224, 233, 239, 0.63);
        width: 0.1rem;
    }

    a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        padding: 0.7rem;
        opacity: 0.6;
        font-size: 0.9rem;

        &.active {
            background: rgba(224, 233, 239, 0.63);
            border-radius: 0.4rem;
            font-weight: bold;
            opacity: 1;
        }
    }
}

.wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
        padding: 0rem;
    }

    .templatesWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: #ffffff;
        box-shadow: 0px 4px 135px rgba(63, 63, 121, 0.07);
        border-radius: 0.6rem;

        & > div {
            border-bottom: 1px solid rgba(63, 63, 121, 0.123);
        }

        & > :last-child {
            border: 0;
        }
    }
}

.items_dropdown {
    display: flex;
    position: absolute;
    right: -13rem;
    top: 3.5rem;
    z-index: 999;
    background-color: #fff;
    width: 15rem;
    border: 1px solid rgba(226, 226, 226, 0.685);
    box-shadow: 0px 4px 25px rgba(65, 65, 65, 0.123);
    border-radius: 0.4rem;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(2rem);
    padding: 0.5rem;
    @include gap(0.5rem, false);
    margin: 0 !important;

    &.mobile {
        right: 0rem;
        top: -8rem;
    }

    &.dropdown_enter {
        opacity: 0;
        transform: translateY(2rem);
    }

    &.dropdown_enter_active {
        opacity: 1;
        transform: translateY(0);
    }

    &.dropdown_enter_done {
        opacity: 1;
        transform: translateY(0);
    }

    .info_dropdown {
        display: flex;
        align-items: center;
        @include gap(1rem);
        border-bottom: 1px solid rgba(226, 226, 226, 0.404);
        padding: 1rem;
        width: 100%;

        img {
            min-width: 7rem;
            height: 7rem;
            border-radius: 100%;
        }
    }

    div {
        display: flex;
        align-items: center;
        @include gap(1rem);
        padding: 0.7rem 1rem;
        cursor: pointer;
        transition: all 0.5s;
        border: 1px solid #f3f7fa;
        border-radius: 0.4rem;

        &:hover {
            background-color: #f3f7fa;
        }

        span {
            color: #415266;
            font-weight: 500;
            font-size: 0.95rem;
            white-space: nowrap;
        }

        svg {
            width: 1rem;
            height: 1rem;
            opacity: 0.8;

            * {
                fill: #415266;
            }
        }
    }
}
